<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="NuGet.CommandLine" />
	<package id="git.install" />
	<package id="gitextensions" />
	<package id="git-credential-winstore" />
	<package id="gitpad" />
	<package id="nodejs.install" />
	<package id="ruby" />
	<package id="python" />
	<package id="mongodb" />
	<package id="curl" />
	<package id="scriptcs" />
	<package id="fiddler" />
	<package id="SublimeText3" />
	<package id="SublimeText3.PackageControl" />
</packages>