<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="GoogleChrome" />
	<package id="adobereader" />
	<package id="VirtualCloneDrive" />
	<package id="greenshot" />
	<package id="puretext" />
	<package id="7zip.install" />
	<package id="vlc" />
	<package id="filezilla "/>
</packages>